USE [master]
GO
/****** Object:  Database [QLHospital]    Script Date: 2/9/2018 1:30:49 PM ******/
CREATE DATABASE [QLHospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLHospital.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLHospital_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHospital]
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 2/9/2018 1:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[IDPatient] [nchar](10) NOT NULL,
	[NamePatient] [nvarchar](max) NULL,
	[Phone] [char](11) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Diagnoseill] [nvarchar](max) NULL,
	[IDRoom] [nchar](10) NOT NULL,
	[Sex] [nchar](10) NULL,
	[DateOfBirth] [datetime] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[IDPatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomInfo]    Script Date: 2/9/2018 1:30:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomInfo](
	[IDRoom] [nchar](10) NOT NULL,
	[NameRoom] [nvarchar](max) NULL,
	[CommentRoom] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoomInfo] PRIMARY KEY CLUSTERED 
(
	[IDRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[PatientInfo]  WITH CHECK ADD  CONSTRAINT [FK_PatientInfo_RoomInfo] FOREIGN KEY([IDRoom])
REFERENCES [dbo].[RoomInfo] ([IDRoom])
GO
ALTER TABLE [dbo].[PatientInfo] CHECK CONSTRAINT [FK_PatientInfo_RoomInfo]
GO
USE [master]
GO
